<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="login-card">
        <mat-card-header class="card-header bg-primary">
            <div>
                <h1>Hey, Welcome. Login to access Task Management</h1>
            </div>
        </mat-card-header>
        <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
            <mat-card-content>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <mat-icon color="primary" matPrefix>email</mat-icon>
                        <input required formControlName="email" matInput placeholder="Enter your Email here">
                        <mat-error *ngIf="loginFormGroup.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="loginFormGroup.controls['email'].hasError && !loginFormGroup.controls['email'].hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon color="primary" matPrefix>lock</mat-icon>
                        <input required formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                        <mat-icon color="primary" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="loginFormGroup.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Login</button>
                <span>Not a Member yet ? <a routerLink="/signup">Sign up</a></span>
            </mat-card-actions>
        </form>
    </mat-card>
</div>