.login-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top left, #9c27b0 50%, rgb(227 230 241) 50%);
}

.login-card {
    width: 400px;
    padding: 0;
}

mat-card-content {
    padding: 16px;
    margin: 0;
}

.card-header {
    color: white;
    padding: 32px 16px;
    text-align: center;
    margin: 0;
}

mat-card-actions {
    button {
        width: 50%;
    }
}

mat-icon {
    padding-right: 8px;
}