<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="full-width" fxLayout="row" fxLayoutAlign="flex-end">
        <button class="close" mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div>
        <h1>Hey, You can Add a User Here</h1>
    </div>
    <form class="full-width" [formGroup]="addUserFormGroup" (ngSubmit)="createUser()">
        <div fxLayout="column">
            <mat-form-field class="full-width" appearance="outline">
                <mat-icon color="primary" matPrefix class="mat-icon-pre">account_circle</mat-icon>
                <mat-label>Name</mat-label>
                <input required formControlName="name" matInput placeholder="Enter User's name here">
                <mat-error *ngIf="addUserFormGroup.controls['name'].hasError('required')">
                    name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input required formControlName="email" matInput placeholder="Enter User's Email here">
                <mat-error *ngIf="addUserFormGroup.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-error
                    *ngIf="addUserFormGroup.controls['email'].hasError && !addUserFormGroup.controls['email'].hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-icon color="primary" matPrefix class="mat-icon-pre">email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input required formControlName="password" matInput placeholder="Enter User's password"
                    [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="addUserFormGroup.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-icon color="primary" matPrefix class="mat-icon-pre">lock</mat-icon>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

        </div>
        <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
            <button class="create-button" [disabled]="addUserFormGroup.invalid" mat-raised-button color="primary">Create</button>
        </div>
    </form>
</div>