.task {
    margin-bottom: 32px;
}

.container {
    padding: 32px 16px;
    height: calc(100vh - 64px);
    box-sizing: border-box;
}

.add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}