<mat-card>
    <form class="full-width full-height" [formGroup]="createUserFormGroup" (ngSubmit)="updateUser()">
        <div *ngIf="!isEditable" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="8px">
            <button mat-mini-fab class="fab-icon" (click)="editUser()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="fab-icon" (click)="deleteUser()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <span *ngIf="!isEditable"> <h2> {{user.name}}</h2> </span>
        <mat-form-field *ngIf="isEditable" class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <mat-icon color="primary" matPrefix class="mat-icon-pre">account_circle</mat-icon>
            <input [(ngModel)]="user.name" required formControlName="name" matInput
            placeholder="Enter User's name here">
            <mat-error *ngIf="createUserFormGroup.controls['name'].hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="space-between space-between" class="full-height">
            <mat-card-content fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="8px">
                <mat-icon *ngIf="!isEditable" color="primary">email</mat-icon>
                <span *ngIf="!isEditable">
                    {{user.email}}
                </span>
                <mat-form-field *ngIf="isEditable" class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="user.email" required formControlName="email" matInput
                        placeholder="Enter your Email here">
                    <mat-error *ngIf="createUserFormGroup.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="createUserFormGroup.controls['email'].hasError && !createUserFormGroup.controls['email'].hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-icon color="primary" matPrefix class="mat-icon-pre">email</mat-icon>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="isEditable" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
                    <button type="submit" [disabled]="createUserFormGroup.invalid || !this.createUserFormGroup.dirty"
                        mat-raised-button color="primary">Update</button>
                    <button (click)="cancel()" mat-raised-button color="warn">Cancel</button>
                </div>
            </mat-card-actions>
        </div>
    </form>
</mat-card>